<div class="form">
	<h2>Forgot Password</h2>
	<form (submit)="send()" aria-labelledby="login-heading">
		<fieldset>
			<legend>Email</legend>
			<label for="email" class="visually-hidden">Email</label>
			<input
				id="email"
				type="email"
				name="email"
				[(ngModel)]="email"
				autocomplete="email"
				aria-required="true"
				required
				appAutofocus
				[disabled]="loading" 
			/>
		</fieldset>

		<div class="button-group">
			<button type="submit" class="submit" [disabled]="loading">
				<span *ngIf="!loading">Send Password Reset</span>
				<span *ngIf="loading" class="spinner"></span> 
			</button>
		</div>
	</form>

	<div class="signup-link">
		<div><a routerLink="/login">Login</a></div>
		<div><a routerLink="/signup">Sign up</a></div>
	</div>
</div>
