@use 'variables' as *;

.main-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
	background-color: $bg-page;
	border-left: 2px solid $border;
	border-right: 2px solid $border;
	height: 100vh;
	display: flex;
	justify-content: center;

	@media (max-width: 600px) {
		max-width: 100%;
		padding: 0 8px;
		border-left: 2px solid $border;
		border-right: 2px solid $border;
	}
}

.subcontent-container {
	width: 100%;
	padding: 0 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;

	&.layout-top {
		margin-top: 60px;
		justify-content: flex-start;
	}
}
