<div class="form" style="opacity: 0">
	@if (!loading) {

	<div class="hero">
		<div class="hero-brand">
			<img class="hero-logo" src="assets/checked.svg" alt="" />
			<h1 class="hero-title">zChecklist</h1>
		</div>
		<p class="hero-tagline">Repeatable lists for repeated tasks</p>
		<p class="hero-desc">Create permanent checklists you can run again and again. Perfect for routines, travel prep, and daily PT.</p>
	</div>

	<form (submit)="login()" aria-label="Login">
		<fieldset>
			<legend>Email</legend>
			<label for="email" class="visually-hidden">Email</label>
			<input
				id="email"
				type="email"
				name="email"
				[(ngModel)]="email"
				autocomplete="email"
				aria-required="true"
				required
				[appAutofocus]="!isMobile"
			/>
		</fieldset>

		<fieldset>
			<legend>Password</legend>
			<label for="password" class="visually-hidden">Password</label>
			<div class="password-wrapper">
				<input
					id="password"
					[type]="showPassword ? 'text' : 'password'"
					name="password"
					[(ngModel)]="password"
					autocomplete="current-password"
					aria-required="true"
					required
				/>
				<button type="button" class="show-password-btn" (click)="showPassword = !showPassword">
					{{ showPassword ? 'Hide' : 'Show' }}
				</button>
			</div>
		</fieldset>

		<div class="remember-forgot">
			<div class="remember-me" (click)="rememberMe = !rememberMe">
				<img class="check-img"
					[src]="rememberMe ? 'assets/checked.svg' : 'assets/unchecked.svg'"
					width="22" height="22"
					alt=""
				/>
				<span>Remember me</span>
			</div>
			<a routerLink="/forgotPassword" tabindex="-1">Forgot password?</a>
		</div>

		<button type="submit" class="submit login-btn" [disabled]="userStore.loading()">
			@if (userStore.loading()) { <span class="spinner"></span> } @else { Login }
		</button>
	</form>

	<div class="or-divider"><span>or</span></div>

	<button class="create-account-btn" type="button" routerLink="/signup">Create a free account</button>

	<p class="copyright">&copy; {{ currentYear }} zChecklist. All rights reserved.</p>

	}
</div>
