<div class="form">
	<h2>Login</h2>
	<form (submit)="login()" aria-labelledby="login-heading">
		<fieldset>
			<legend>Email</legend>
			<label for="email" class="visually-hidden">Email</label>
			<input
				id="email"
				type="email"
				name="email"
				[(ngModel)]="email"
				autocomplete="email"
				aria-required="true"
				required
				appAutofocus
			/>
		</fieldset>

		<fieldset>
			<legend>Password</legend>
			<label for="password" class="visually-hidden">Password</label>
			<input
				id="password"
				type="password"
				name="password"
				[(ngModel)]="password"
				autocomplete="current-password"
				aria-required="true"
				required
			/>
		</fieldset>

		<div class="button-group">
			<button type="submit" class="submit">Login</button>
		</div>
	</form>

	<p class="signup-link">
		<a routerLink="/signup">Sign up</a>
	</p>
</div>
