<div class="form" style="opacity: 0">
	@if (!loading) {
	<form aria-labelledby="signup-heading">
		<fieldset>
			<legend>Email</legend>
			<label for="email" class="visually-hidden">Email</label>
			<input
				id="email"
				type="email"
				name="email"
				autocomplete="email"
				aria-required="true"
				required
				autofocus
				(input)="formReady()"
				[(ngModel)]="email"
				appAutofocus
			/>
		</fieldset>

		<fieldset>
			<legend>Password</legend>
			<label for="password" class="visually-hidden">Password</label>
			<input
				id="password"
				type="password"
				name="password"
				autocomplete="new-password"
				aria-required="true"
				(input)="formReady()"
				[(ngModel)]="password"
			/>
			<p class="field-hint">Leave blank to keep your current password</p>
		</fieldset>

		<fieldset>
			<legend>First Name</legend>
			<label for="first-name" class="visually-hidden">First Name</label>
			<input
				id="first-name"
				type="text"
				name="first-name"
				autocomplete="given-name"
				required
				(input)="formReady()"
				[(ngModel)]="firstName"
			/>
		</fieldset>

		<fieldset>
			<legend>Last Name</legend>
			<label for="last-name" class="visually-hidden">Last Name</label>
			<input
				id="last-name"
				type="text"
				name="last-name"
				autocomplete="family-name"
				required
				(input)="formReady()"
				[(ngModel)]="lastName"
			/>
		</fieldset>

		<div class="checkbox-row" (click)="isHelpEnabled = !isHelpEnabled; formReady()">
			<img class="check-img"
				[src]="isHelpEnabled ? 'assets/checked.svg' : 'assets/unchecked.svg'"
				width="22" height="22"
				alt=""
			/>
			<span>Show Help Text</span>
		</div>

		<div class="checkbox-row" (click)="sortCompletedToBottom = !sortCompletedToBottom; formReady()">
			<img class="check-img"
				[src]="sortCompletedToBottom ? 'assets/checked.svg' : 'assets/unchecked.svg'"
				width="22" height="22"
				alt=""
			/>
			<span>Move checked items to the bottom</span>
		</div>

		<div class="button-group">
			<button type="button" class="cancel" routerLink="goBack()">Cancel</button>
			<button
				type="submit"
				class="submit"
				(click)="saveForm()"
				[disabled]="!isReady">
				Save
			</button>
		</div>
	</form>

	<div class="plan-section">
		<span class="plan-label">Plan</span>
		<span class="plan-value" [class.premium]="userStore.isPremium()">
			{{ userStore.isPremium() ? 'Premium' : 'Free' }}
		</span>
		<a routerLink="/upgrade" class="plan-link">View plans</a>
	</div>
	}
</div>
